# Python environment
venv/
.venv/
.rag_env/
.python-version

# environment variables
.env
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# model files
models/
*.bin

# RAG specific files
data/
outputs/
qdrant_data/

# cache and temporary files
__pycache__/